.todo-mainpage {
  background-color: #eea236;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
}

  .todo-mainpage-header {
    background-color: #2c3e50;
    height: 50px;
    padding: 10px;
    width: 100%;
  }

    .todo-mainpage-header h1 {
      color: white;
    }


  .todo-mainpage-content {
    background-color: #fff;
    padding: 1em;

    display:flex;
    flex-direction: column;
  }

  .todo-mainpage-footer {
    background-color: #0A7C71;
    width:100%;
    height:50px;
  }







