@todo-envelope-height:160px;
@todo-envelope-width:89px;

.todo-envelope__container {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.todo-envelope__current-budget {
  width: 17px;
  position: relative;
  //position: absolute;
}

/*
  .todo-envelope__current-budget img {
    position: absolute;
    z-index: 0;
  }
*/

  .todo-envelope__current-budget span {
    position: absolute;
    left: -20px;
    z-index: 101;
  }


.todo-envelope {
  position: relative;
  background: url('/assets/images/dollar/dollar.png'), url('/assets/images/envelope/envelope_big.png');
  background-repeat: no-repeat, no-repeat ;
  background-position: center, left top;
  padding: 0.3em;
  height: @todo-envelope-height;
  width: @todo-envelope-width;
  text-align: center;
}

/*
 .todo-envelope:before {
  content: url('http://www.sibaco.com/Explainer%20-%20old%20ck/core/misc/icons/000000/chevron-right.svg');
  position: absolute;
  left: -10px;
  top: 0px;
}
*/

.todo-envelope__name {
  position: absolute;
  top: @todo-envelope-height - 20px; // TODO maybe bottom
  width: @todo-envelope-width;
  text-align: left;

  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  .todo-envelope__footer {
    margin: 0.5em;
    padding: 0.3em;
    width: @todo-envelope-width;
  }
  .todo-envelope__footer__title {
  }


