<form name="Form" class="todo-signup">

    <div class="todo-signup__field">
        <label>First name</label>
        <input type="text" name="firstName" ng-model="form.firstName" validator="required" />
    </div>


    <div class="todo-signup__field">
        <label>Last name</label>
        <input type="text" name="lastName" ng-model="form.lastName" validator="required" />
    </div>

    <div class="todo-signup__field">
        <label>Email</label>
        <input type="text" name="email" ng-model="form.email" validator="required, email" />
    </div>


    <div class="todo-signup__field">
        <label>Password</label>
        <input type="password" name="password" ng-model="form.password" validator="required" />
    </div>

    <div class="todo-signup__actions">
        <button class="btn btn-primary btn-lg" validation-submit="Form" ng-click="next()">Submit</button>
    </div>
</form>